/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    color: #2B2B2B ;
    background-color:#E6E6DD ;
}

/* estilos de header */

header{
    background-color: #2B2B2B;
    color:#E6E6DD;
    margin: 0px 50px;
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 5px 5px 15px black;

}

header img{
    width: 10%;
}

header nav{
    margin-right: 30px;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

main{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

main .img{
    display: flex;
    justify-content: center;
}

main .img img{
    width: 70%;
}

main .textos{
    text-align: center;
}

main .textos h1{
    margin: 10px 0px;
}

main .textos h1 span{
    display: block;
}

main .textos .boton{
    background-color: #2B2B2B ;
    color: #E6E6DD;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 5px 5px 10px black;
}

/* estilos de section */

section{
    background-color: #2B2B2B;
    color: #E6E6DD;
    padding: 30px;
    margin: 0px 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-shadow: 5px 5px 15px black;
}

section div{
    text-align: center;
}

section div h3{
    margin: 10px;
}

section div img{
    width: 30%;
}

/* estilos de footer */

footer{
    margin-top: 10px;
    text-align: center;
}


/* abosolutas relativas */

/*rem*/
1rem = 16px
1.5rem = 24px

/*em*/
1em = 16px

/* mq de tablet*/

@media screen and (min-width: 600px){
    main{
        height: 65vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat (2,50%) ;
    }
    main img-cuatro{
        grid-column: span 2;
    }

    footer{
        margin-top: 30px;
    }
}

/* mq de desktop*/
@media screen and (min-width:1025px) {
    main .img-dos, main .img-cinco{
        display: block;
    }

    main{
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns: 40% 40% 15%;
    }
       
    main .img-uno, main .img-tres{
        grid-row: span 2;
    }
    
    main .img-dos, main .img-cuatro{
        grid-column: span 1;
    }
    
    main .img-cinco{
        grid-column: span 3;
    }

}

